fuser/.classpath
fuser/.project
fuser/.settings/
sigmaaie/fuser/.classpath
sigmaaie/fuser/.project
sigmaaie/fuser/.settings/org.eclipse.core.resources.prefs
sigmaaie/fuser/.settings/org.eclipse.jdt.core.prefs
sigmaaie/fuser/.settings/org.eclipse.m2e.core.prefs
.vscore
.idea
.idea/
.vscore/
validation-questions/target/
.vscode/jsconfig.json
roh/fuser/.classpath
roh/fuser/.project
roh/fuser/.settings/org.eclipse.core.resources.prefs
roh/fuser/.settings/org.eclipse.jdt.apt.core.prefs
roh/fuser/.settings/org.eclipse.jdt.core.prefs
roh/fuser/.settings/org.eclipse.m2e.core.prefs
validation-questions/.project
validation-questions/.settings/