
abstract=The University of Murcia signed on November 29, 2017, a Covenant with the Ministry of Economy, Industry and Competitiveness backing the “HÉRCULES: Semantic University Research Data” Project with a budget of FIVE MILLION FOUR HUNDRED AND SIXTY-TWO THOUSAND SIX HUNDRED euros with an 80% of co-financiering from the European Regional Development Fund program (ERDF) within the 2014-2020 period. 

The project arose as a CRUE initiative, to create the basis for a new collaboration model between universities, to develop the information management systems and with the main objective of encouraging this type of collaboration.

Therefore, the purpose of this agreement was to contribute to the improvement of public services and business innovation and research through the improvement of:

    efficiency in public investment by decreasing the duplication of investment in R&D.
    efficiency of research in universities.
    scientific dissemination of research results.
    detection of synergies in R&D between universities.
    transfer of R&D results to companies.
    efficiency in the management of research. 

by creating a research management system with semantic capacities based on semantic open data and that will provide a global view of the research data contained in the Spanish University System.
ontologyTitle=ROH Spanish Subject Area Module
ontologyPrefix=rohsubj
ontologyNamespaceURI=http://purl.org/roh/subject-area
ontologyName=The ROH ontology
thisVersionURI=
latestVersionURI=http://purl.org/roh/subject-area
previousVersionURI=
dateOfRelease=
ontologyRevisionNumber=0.0.1
licenseURI=https://creativecommons.org/publicdomain/zero/1.0/
licenseName=https://creativecommons.org/publicdomain/zero/1.0/
licenseIconURL=null
citeAs=
DOI=
status=Ontology Specification Draft
backwardsCompatibleWith=
publisher=null
publisherURI=null
publisherInstitution=null
publisherInstitutionURI=null
authors=Mikel Emaldi, Emilio Rubiera Azcona
authorsURI=
authorsInstitution=
authorsInstitutionURI=
contributors=Iñigo Apellániz, Diego López de Ipiña, Esteban Sota, Álvaro Palacios, Alejandro González Hevia, José Emilio Labra Gayo
contributorsURI=;
contributorsInstitution=;
contributorsInstitutionURI=;
importedOntologyNames=
importedOntologyURIs=
extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=ontology.xml
TurtleSerialization=ontology.ttl
N3Serialization=ontology.nt
JSONLDSerialization=ontology.json
